.pdf-view-container {
  width: 842px;
  height: 595px;
  cursor: grab;
}

.pdf-view-container:active {
  cursor: grabbing;
}

.pdf-view-container .page canvas {
  border: solid #999 1px;
  /* border: solid #999 1px; */

  /* width: 800px !important;
  height: 600px !important; */
}
