body {
  background-color: #f7f7f7;
}

.loadingIcon {
  display: none !important;
}
.pdf-view-container {
  position: relative;
  width: 600px;
  height: 400px;
  cursor: grab;
  background-color: #fff;
}

.placeholder {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.pdf-view-container:active {
  cursor: grabbing;
}

.pdf-view-container .page canvas {
  /* border: solid #999 1px; */
  /* border: solid #999 1px; */

  /* width: 800px !important;
  height: 600px !important; */
}
